html{
	font-family: arial;
}

.box{
	float: left;
	width: 60%;
	border: 2px solid black;
	padding: 20px;
	
}
img {
	float: left;
	
}
.like{
	float: left;
	margin-left: 5%;

}
.comment{
	float: left;
	margin-left: 10%;

}
h3 {
	float: left;

}
h2 {
	padding-left: 15%;



}


